.fullPage {
    display: flex;
    overflow: hidden;
}

/* ____________MEDIA QUERIES____________ */



/* SMALL DEVICE MEDIA QUERIES */

@media screen and (max-width: 600px) {
  .fullPage {
    flex-direction: column;
  }
}